$maxMobail: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


$redColor: #e2494c;
$headColor: #444;
$grayColor: #888;

$floatL: left;
$floatR: right;

$textL: left;
$textR: right;

$mainPadding: 35px 0;